<a href="https://colab.research.google.com/github/shubhangi-25/Machine-Learning-Dataset/blob/main/Twitter_Dataset_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [3]:
path = "https://raw.githubusercontent.com/umangkejriwal1122/Machine-Learning/master/Data%20Sets/twitter_data.csv"

In [4]:
import pandas as pd

In [5]:

data = pd.read_csv(path,encoding='latin-1')
data.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [6]:
score = []
comp = []
for i in range(0,len(data)):
  s = sia.polarity_scores(data.iloc[i,2])
  score.append(s)
  if s['compound']>0:
    comp.append(1)
  else:
    comp.append(0)

In [7]:
data['Score'] = score
data['Final Score'] = comp

In [8]:
data.head(20)

    ItemID  ...  Final Score
0        1  ...            0
1        2  ...            0
2        3  ...            0
3        4  ...            0
4        5  ...            0
5        6  ...            0
6        7  ...            0
7        8  ...            1
8        9  ...            0
9       10  ...            1
10      11  ...            0
11      12  ...            0
12      13  ...            0
13      14  ...            0
14      15  ...            1
15      16  ...            0
16      17  ...            0
17      18  ...            1
18      19  ...            1
19      20  ...            1

[20 rows x 5 columns]

In [9]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [10]:
cm = confusion_matrix(data['Sentiment'],data["Final Score"])
accu = accuracy_score(data['Sentiment'],data["Final Score"])

In [11]:
cm

array([[27945, 15587],
       [20092, 36365]])

In [12]:
accu

0.643170748782366